.wraper {
  margin: 40px auto;
  padding: 10px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wraper {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .wraper {
    font-size: 30px;
    font-weight: 800;
  }
}

.good {
  color: green;
}

.neutral {
  color: rgb(142, 113, 76);
}

.bad {
  color: red;
}
