.wraper {
  margin: 20px 0 20px 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.button {
  width: 65px;
  height: 100%;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: azure;
  border: 1px solid azure;
  border-radius: 15px;
}

.button:focus,
.button:hover {
  background-color: azure;
  color: rgb(142, 113, 76);
  box-shadow: 5px 5px 5px gray;
}

@media screen and (min-width: 768px) {
  .button {
    width: 80px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 120px;
    padding: 10px;
    font-size: 26px;
  }
}
